@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,100&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
}


.spinner-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 100000;
}

.spinner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(78, 78, 78);
    border-bottom: 3px solid rgb(0, 68, 255);
    animation: 1s rotate linear infinite;
}


@keyframes rotate {
    to{transform: rotate(360deg);}
}

.popup{
    position: absolute;
    top: -100%;
    left: 50%;
    display: flex;
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    transition: 1s;
    z-index: 1000;
}

.card-container{
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* border-bottom: 1px solid white; */
}

.card{
    position: relative;
    display: flex;
    width: 90%;
    /* max-width: 300px; */
    aspect-ratio: 16/9;
    padding: 40px;
    justify-content: space-around;
    background: rgb(9,9,121);
    background: linear-gradient(130deg, rgba(9,9,121,1) 14%, rgba(0,78,255,1) 95%);
    border-radius: 15px;
}

#card1{
    display: flex;
}

.card2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.card2 a{
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: black;
    background-color: white;
    transition: 300ms;
}

.card2 a:active{
    transform: scale(0.8);
}

.card2 p{
    color: white;
    transition: 300ms
}

.person{
    display: flex;
    flex-direction: column; 
    width: 50%;
}

.text{
    color: white;
    font-size: 20px;
}

.photo{
    display: flex;
    width: 50%;
    aspect-ratio: 3/4;
    background-color: rgb(66, 66, 66);
    border-radius: 8px;
    /* margin: 0px 0px auto 20px; */
    margin-bottom: 20px;
}

.description-container{
    display: flex;
    /* justify-content: space-around; */
}

.name{
    /* margin-left: 50px; */
    /* margin-right: 100px; */
}

.gender{
}

.description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.card-name{
    /* font-size: 20px; */
}

#icon{
    margin-bottom: 10px;
    font-size: 30px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 80%; */
    background-color: transparent;
}

.button-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
}

.button-container div{
    display: flex;
    flex-direction: column;
    width: 37%;
    aspect-ratio: 16/9;
    color: white;
    /* border: 2px solid white; */
    background: rgb(20, 20, 20);
    /* background: rgb(51, 51, 51); */
    /* background: linear-gradient(130deg, rgba(9,9,121,1) 14%, rgba(0,78,255,1) 95%); */
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.button-container div:active{
    transform: scale(0.8);
}

.mojodiyab{
    width: 100%;
    min-height: 300px;
    background-color: purple;
    /* margin-bottom: 10px; */
}

.ezafe{
    display: flex;
    width: 100%;
    min-height: 35px;
    background-color: transparent;
    justify-content: space-around;
}

.ezafe div{
    display: flex;
    width: 50px;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
}

#smileicon{
    color: green;
    font-size: 30px;
    margin-left: 10px;
}

.menu{
    position: sticky;
    bottom: 0px;
    display: flex;
    width: 100%;
    min-height: 65px;
    justify-content: space-around;
    border-top: 1px solid #272727;
    background-color: black;
    /* border-radius: 0px 0px 15px 0px; */
    z-index: 10;
}

.menu div{
    display: flex;
    width: 50px;
    height: 100%;
    padding: 10px;
    color: white;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.menu #icon{
    margin: auto;
    font-size: 25px;
}

@media screen and (max-width: 400px) {
    .card{
        padding: 20px;
    }

    .text{
        font-size: 17px;
    }
}